{
	"root": true,
	"extends": [
		"next",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		// "plugin:prettier/recommended",
		"prettier"
	],
	"env": {
		"es6": true,
		"browser": true,
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": { "project": ["./tsconfig.json"] },
	"plugins": ["@typescript-eslint", "import"],
	"rules": {
		// "@typescript-eslint/strict-boolean-expressions": [
		// 	2,
		// 	{
		// 		"allowString": false,
		// 		"allowNumber": false
		// 	}
		// ]
		// "no-var": "error",
		// "semi": "error",
		// "indent": "error",
		// "no-multi-spaces": "error",
		// "space-in-parens": "error",
		// "no-multiple-empty-lines": "error",
		// "prefer-const": "error",
		// "no-use-before-define": "error",
		// "eqeqeq": "warn",
		// "strict": "off",
		// "quotes": ["error", "backtick"],
		// "no-empty": "warn",
		// "no-cond-assign": ["error", "always"],
		// "for-direction": "off",
		// "no-debugger": "off",
		// "no-console": 0
	}
	// "ignorePatterns": ["components/Fonts/index.tsx"]
}
