@tailwind base;
@tailwind components;
@tailwind utilities;

//! Normalize.css - reset style all

@import '~normalize.css/normalize.css';

//! Global

/* html {
	--transt: all 0.5s ease;
	--color-blue: rgb(129, 230, 217);
	--color-black: rgba(32, 32, 35, 1);
	--bg-dark: rgb(128, 90, 213);
	--bg-light: rgb(251, 211, 141);
	--color-link: rgb(255, 99, 195);
	--color-dark-blue: rgb(61, 122, 237);
} */
@layer base {
	html,
	body {
		/* padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth; */
		@apply p-0 m-0 box-border scroll-smooth;

		&::-webkit-scrollbar {
			@apply w-0;
		}
		&::-webkit-scrollbar-track {
			/* box-shadow: inset 0 0 1px 1px transparent;
		border: solid 12px transparent; */

			@apply shadow shadow-transparent border-solid border-10 border-transparent;
		}
		&::-webkit-scrollbar-thumb {
			/* box-shadow: inset 0 0 1px 1px transparent;
		border: solid 10px transparent; */

			@apply shadow shadow-transparent border-solid border-10 border-transparent;
		}
	}

	body {
		/* font-family: 'M PLUS Rounded 1c', sans-serif;
		background: var(--backgrounds);
		transition: var(--transt); */
		@apply font-sans bg-white transition-all;
	}

	li {
		list-style-type: none;
	}

	a {
		color: var(--colors);
		text-decoration: none;
		transition: var(--transt);
	}

	ul {
		padding: 0;
		margin: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		margin: 0;
	}
}
//! Theme

/* html[data-mode='dark'] {
	--backgrounds: rgba(32, 32, 35, 1);
	--colors: rgba(240, 231, 219, 1);
	--bg-header: rgba(32, 32, 35, 0.5);
	--bg-add: rgba(255, 255, 255, 0.08);
	--bg-green: rgb(34, 84, 61);
	--colors-green: rgb(198, 246, 213);
}

html[data-mode='light'] {
	--backgrounds: rgba(240, 231, 219, 1);
	--colors: rgba(32, 32, 35, 1);
	--bg-header: rgba(255, 255, 255, 0.251);
	--bg-add: rgba(255, 255, 255, 0.36);
	--colors-green: rgb(34, 84, 61);
	--bg-green: rgb(198, 246, 213);
} */

//! Base

/* .containers {
	max-width: 485px;
	width: 100%;
	margin: 0 auto;
	background: transparent;
	box-sizing: border-box;
}

.link {
	transition: var(--transt);
	color: var(--color-link);
} */

#nprogress .spinner {
	display: none !important;
}

//! Import - Components

@import './header';
@import './navbar';
@import './footer';
@import './scene';

//! Import - Pages

@import './home';
@import './skills';
@import './works';
@import './work';
@import './error';

//! Import - Media

@import './media';
